# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Data and models
*.pkl
*.h5
*.ckpt
*.gguf

# System files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# SQLite databases
*.db
